body {
  background-color: white;
  font-family: Arial;
}

.header {
  background-color: black;
  color: white;
}

.header__icon-user {
  width: 60px;
  height: 60px;
  padding: 5px;
}

.header__project-name {
  padding: 15px;
  padding-left: 90px;
}

.header__name-user {
  display: inline-block;
  text-decoration: none !important;
}

.nav--pading {
  padding: 20px 20px 20px 20px;
  margin-left: 75px;
}

.nav-item {
  text-align: left;
}

.nav-item + .nav-item {
  padding-left: 100px;
}

a:hover {
  background-color: gray;
  width: auto;
  height: auto;
  text-decoration: none;
}

a .fa {
  margin-left: 40px;
}

li .fas,
li .fa {
  padding-right: 20px;
  padding-left: 0px;
  margin: auto;
}

button .fa,
button .far {
  padding-right: 10px;
  padding-left: 0px;
  text-align: center;
  margin: auto;
}

.breadcrumb {
  background-color: gray !important;
  width: auto;
  height: auto;
}

.breadcrumb__title {
  padding-left: 75px;
}

.breadcrumb__content {
  padding: 8px 0px;
  padding-left: 75px;
  background-color: gray;
  height: 50px;
}

.breadcrumb__content li {
  display: inline;
}

.breadcrumb__content li + li:before {
  padding: 8px;
  color: black;
  content: ">\00a0";
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.button:hover {
  background-color: red;
}

.button-gray {
  background-color: gray;
  color: black;
  margin-top: 30px;
  text-align: center;
}

.button-blue {
  background-color: blue;
  color: black;
  margin-top: 30px;
}

.content__form {
  border-style: solid;
  padding: 50px 100px;
  width: 90%;
  margin: auto;
}

.content__table {
  width: 90%;
  margin: auto;
}

.content__thead {
  background-color: gray;
}

.content__radio-group {
  margin-top: 20px;
  margin-right: 10px;
}

.content__container-img {
  height: 200px;
  width: 200px;
  margin: auto;
}

.content__img {
  height: 200px;
  width: 200px;
}

.content__text-input-img {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.content__text-input-img:hover {
  background-color: red;
  cursor: pointer;
}
/*# sourceMappingURL=style-add-group.css.map */