@import 'mixin';
$color-white: white;
$color-black: black;
$color-red: red;
$color-gray: gray;

body {
    background-color: $color-white;
    font-family: Arial;
}

.header {
    background-color: $color-black;
    color: $color-white;
    
    &__icon-user {
        width: 60px;
        height: 60px;
        padding: 5px;
    }

    &__project-name {
        padding: 15px;
        padding-left: 90px;
    }

    &__name-user {
        display: inline-block; 
        text-decoration: none !important;
    }
}

.nav--pading {
    padding: 20px 20px 20px 20px;
    margin-left: 75px;
}

.nav-item {
    text-align: left;
}

.nav-item+.nav-item {
    padding-left: 100px;
}

a {
    &:hover {
        background-color: $color-gray;
        width: auto;
        height: auto;
        text-decoration: none; 
    }

    .fa {
        margin-left: 40px;
    }
}

li {
    .fas,
    .fa {
        padding-right: 20px;
        padding-left: 0px;
        margin: auto;
    }
}

button {
    .fa,
    .far {
        padding-right: 10px;
        padding-left: 0px;
        text-align: center;
        margin: auto;
    }
}

.breadcrumb {
    background-color: $color-gray !important;
    width: auto;
    height: auto;

    &__title {
        padding-left: 75px;
    }

    &__content {
        padding: 8px 0px;
        padding-left: 75px;
        background-color: $color-gray;
        height: 50px;

        li {
            display: inline;
        }

        li+li:before {
            padding: 8px;
            color: $color-black;
            content: ">\00a0";
        }
    }
}

.button{
    background-color: #4CAF50;
    border: none;
    color: $color-white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;

    &:hover {
        background-color: $color-red;
    }
}

.button-gray {
    background-color: $color-gray;
    color: black;
    margin-top: 30px;
    text-align: center;
}

.button-blue {
    background-color: blue;
    color: black;
    margin-top: 30px;
}

.content {
    &__form {
        border-style: solid;
        padding: 50px 100px;
        width: 90%;
        margin: auto;
    }

    &__table{
        width: 90%;
        margin: auto;
    }

    &__thead {
        background-color: $color-gray;
    }

    &__radio-group {
        margin-top: 20px;
        margin-right: 10px;
    }

    &__container-img {
        height: 200px;
        width: 200px;
        margin: auto;
    }

    &__img {
        height: 200px;
        width: 200px;
        
    }

    &__text-input-img {
        text-decoration-line: underline;

        &:hover {
            background-color: $color-red;
            cursor: pointer;
        }
    }

    // &__input-group-name {
    //     border: 2px solid red i !important; 
    //     width: 100px;
    //     color: rgb(177, 15, 15) !important;
    // }
}



